* {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
img:hover {
  filter: grayscale(100%);
}

.index {
  display: grid;
  grid-template-columns: 1fr minmax(0, 12000px) 1fr;
  gap: 10px;
}

.index > body {
  grid-column: 2/3;
}

/* ------------------------------Variabler------------------------------------  */
html {
  --black: #000000;
  --white: #ffffff;
  --blue: #6b8498;
  --yellow: #ecb73f;
  --green: #7c887d;
  --red: #e24f27;
}
/* ------------------------------Typografi------------------------------------  */
/* Overskrift */
h1 {
  font-family: "Bungee", sans-serif;
  font-size: 3.5rem;
}
h2 {
  font-family: "Roboto", sans-serif;
}
/* Citat  */
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

/* Tekst til IMG */
h4 {
  font-family: "Bungee", sans-serif;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1rem;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
}

/* ------------------------------Burgermenu------------------------------------  */
header {
  display: flex;
  font-family: "Roboto", sans-serif;
  justify-content: space-between;
  margin: 2vw;
}

nav {
  display: grid;
  text-align: end;
}

/* Menuen er der stadig, men den er usynling */
/* Ved transform er den ude til venstre, dvs. hvis man fjerne transform og opacity, er de der stadig */
.hidden {
  opacity: 0;
  transform: translateX(100%);
}

#menuknap {
  display: inline-block;
  font-size: 3rem;
}

#menu li a {
  font-family: "Bungee", sans-serif;
  font-size: 1.5rem;
  color: var(--black);
  padding: 10px;
}

/* Styler menuen  */
/* ved transform og transition, så gør jeg at de flyver ind fra siden, hvor den så tager 
udgangspunkt i top og left */
#menu {
  list-style-type: none;
  transition: transform 0.3s;
  transform-origin: top right;
}

#menu a {
  text-decoration: none;
}

/* ------------------------------Sections------------------------------------  */

/* First section */

/* Jeg laver et grid til min first section,
så mit splashbillede kan*/

#first_section {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.splashbillede {
  background-image: url(img/splash.png);
  grid-column: 1 / 8;
  grid-row: 1 / 8;
  background-size: cover;
  height: 20rem;
  width: 100%;
}
/* Hvis skærmen er større end 600px  */

@media (min-width: 600px) {
  /* menuknap vises ikke når skærmen er større end 600px */
  #menuknap {
    display: none;
  }
  /*id'et menu har klassen hidden, når skærmen er større en 600px, det vil sige at den ikke er
  usynling længere*/

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }

  /* Menuen ligger sig på linje i stor skærm */
  #menu li {
    display: inline-block;
  }
}
